@font-face {
   font-family: 'JetBrains Mono';
   src:url('./fonts/jetbrains/JetBrainsMono-VariableFont_wght.ttf');
   font-weight: 100 800;
   font-style: normal;
}

:root {
   --font-jetbrainsMono: 'JetBrains Mono', monospace;
   --radius: 0.5rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   body {
      @apply font-primary bg-primary text-white leading-loose;
      font-weight: 100;
   }
   .main-title {
      @apply text-5xl sm:text-6xl xl:text-[80px] leading-[1.1] font-bold text-white;
   }
   h1 {
      @apply text-4xl leading-[1.1] font-semibold text-white;
   }
   h2 {
      @apply text-5xl xl:text-6xl leading-[1.1] font-light text-white;
   }
   h3 {
      @apply text-4xl xl:text-5xl leading-none font-bold text-white;
   }
   .text-outline {
      -webkit-text-stroke: 1px #ffffff;
   }

   .text-outline-hover {
      -webkit-text-stroke: 1px #00ff99;
   }
}
